/*Fonts*/
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Source+Sans+Pro:b|Open+Sans|Roboto:thin');
@import url('https://fonts.googleapis.com/css?family=Lato:200,300,400,700|Roboto:400,700');

/*Elements*/
*, ::before, ::after{
  transition: all ease-in-out 300ms;
  box-sizing: border-box;
}
body{
  --primary: #BF360C;
  --accent: #4A148C;
  --lightgrey: rgb(128,128,128, 0.1);
  --darkgrey: #263238;
  font-family: 'Lato', sans-serif;
}

